
.moreOptionsList{
    display: flex;
    justify-content: space-between;
    p{
        width: 160px;
        height: 20px;
        background-color: oldlace;
        border: 0.5px solid gray;
        border-radius: 20px;
        padding: 10px;
        cursor: pointer;
        text-align: center;
        margin: 2px;
        font-size: 14px;
        background-image: linear-gradient(lightgray,white);
    }
    :nth-child(1){
        background-image: linear-gradient(to right, orangered,white),
    }
}